body
{background-color: rgb(237 237 237);}
*
{color: rgb(180 180 180); font-family: "楷体";}

div.class1
{width: 980px;margin:0 auto;}
div>div>h1
{font-family: "宋体"; }
	
div.class2
{margin: -10px auto;}
div>div>img
{margin: -10px auto;}
p.class3
{text-align:center; line-height: 30px; }
img.class4
{margin: 10px auto;}
div.class5
{margin:0 auto;width: 600px;} 
p.class6
{text-indent: 2em; line-height: 30px;}
p.class7
{text-indent: 2em; line-height: 30px; margin: -15px auto;}
p.class8
{text-align: center;font-size: 6; font-family: "微软雅黑";font-weight: 900;margin: 30px auto;}
img.class9
{margin-right: 30px;}
p.class10
{font-size: 7; font-family: "微软雅黑";}
p.class11
{font-style:italic;font-family: "楷体";}